@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  @apply bg-zinc-900 text-white;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-zinc-800;
}

::-webkit-scrollbar-thumb {
  @apply bg-amber-400 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-amber-300;
}